body {
    text-align: center;
    font-family: sans-serif;
}

#game {
    width: fit-content;
    margin: 20px auto;
    display: grid;
    gap: 1px;
}


h1 {

    margin-bottom: 15px;

}



.top-bar {

    position: absolute;

    top: 20px;

    right: 20px;

}



.start-button {

    font-size: 16px;

    font-weight: bold;

    padding: 8px 20px;

    border-radius: 10px;

    border: none;

    background: linear-gradient(to bottom,
            #66bb6a,
            #43a047);

    color: white;

    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}




.info-container {

    display: inline-flex;

    justify-content: center;

    gap: 10px;

    margin: 20px auto;

    flex-wrap: wrap;

}





.main-actions,
.difficulty-buttons,
.utility-buttons {

    display: flex;
    justify-content: center;
    gap: 8px;

    margin-bottom: 10px;
}




.info-panel h3,
.record-panel h3 {

    font-size: 16px;

    margin-bottom: 2px;

    width: 120px;

    margin: 2px auto;

    padding: 10px;

    border-radius: 10px;

    background: white;

    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);

}





.settings-button {

    border: none;

    background: transparent;

    font-size: 24px;

    cursor: pointer;

    transition: transform 0.3s ease;
}

.settings-button:hover {

    transform: rotate(90deg);

    opacity: 0.8;
}






#settings-menu {

    display: none;

    position: absolute;

    background: white;

    border: 1px solid #ccc;

    border-radius: 8px;

    padding: 10px;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    z-index: 100;
}





.fade-in {

    animation: fadeIn 1s ease;

}

@keyframes fadeIn {

    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }

}






.tile {
    width: 80px;
    height: 80px;
    border: 0.5px solid rgba(255,255,255,0.3);
    box-sizing: border-box;
    cursor: pointer;

    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);

    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.tile:hover {
    transform: scale(1.05);
}

.tile:active {
    transform: scale(0.95);
}

.movable {
    box-shadow: 0 0 20px gold;

    animation: pulse 1s infinite;
}

@keyframes pulse {

    0% {
        box-shadow: 0 0 5px gold;
    }

    50% {
        box-shadow: 0 0 20px gold;
    }

    100% {
        box-shadow: 0 0 5px gold;
    }
}

#message {

    margin-top: 20px;

    font-size: 32px;

    font-weight: bold;

    color: gold;

    animation: glow 1s infinite alternate;
}

@keyframes glow {

    from {
        text-shadow: 0 0 10px gold;
    }

    to {
        text-shadow:
            0 0 20px gold,
            0 0 40px orange;
    }
}




#original-container {
    display: none;
    margin-top: 10px;

    text-align: center;
}




#original-image {
    width: 200px;
    border: 2px solid #ccc;
    border-radius: 10px;
}